.objectivesAndActivities {
  width: 100%;
  background-color: #FFFCF8;
  padding: 80px 0;
  height: 550px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
  text-align: justify;
}

.objectivesAndActivities h1 {
  font-size: 40px;
  font-weight: 700;
  color: #351205;
  margin-bottom: 24px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.column {
  width: 50%;
}

.column h2 {
  font-size: 17.5px;
  font-weight: bold;
  color: #242424;
  margin-bottom: 10px;
}
.column p{
  font-size: 17.5px;
  color: #242424;
  margin-bottom: 10px;
  line-height: 1.6;
}
.column ul{
  padding-left: 20px;
}

.column li{
  font-size: 17.5px;
  color: #242424;
  margin-bottom: 8px;
  line-height: 1.6;
}
/*
.column ul {
  padding-left: 20px;
}

.column li {
  font-size: 14px;
  color: #242424;
  margin-bottom: 8px;
  line-height: 1.6;
}
*/